@import url('https://fonts.googleapis.com/css?family=Play:400,700');

*{box-sizing: border-box; /*pertains to all of the document*/
	padding: 0;
	margin: 0;
}

body{background-color: #CD5334;
	   /*text-align: center;*/
	   /*font-family: verdana;*/
	   font-family: 'Play', sans-serif;

}

nav ul{overflow: auto;
			 list-style: none; /*makes the dots on the list disappear */
	     /*padding: 0px; /*padding applies clockwise*/
	     background-color: #939F5C;
	     font-size: 30px;
	     text-align: center;

}
nav li {float: left;
	      width: 33.33%;
	      display: block;
	      /*text-decoration: none;*/
	      /*border: 5px solid black;*/
	      transition: .5s;
	   
}
nav a {color: #FAD8D6;
			 text-decoration: none;


}

nav li:hover {background-color: #EDB88B;

}

label {display: block;
			/*padding: 30px;*/
			text-align: center;

}
input {padding: 10px;
			 margin: 20px;

}
textarea {height: 400px;
					width: 300px;

}
.hello-content{padding: 80px 20px;
							 background-image: url("../images/teamwork.jpeg");
							 background-size: cover;
							 background-position: center;
							 /*text-align: center;*/
							 color: #E2F9B8;
							 text-shadow: 3px 2px red;
}
.main-content{margin: 20px;
							background-color: white;
							background-image: url("../images/mario3.jpeg");
							/*background-size: cover;*/
							background-repeat: no-repeat;
							background-position: center;
}		
.main-content h2{padding: 40px;
								 /*background-color: #fff;*/
								 /*margin: 20px;*/
								 background-image: url("../images/holdaplant.jpeg");
								 background-size: cover;
								 background-position: right top;
								 text-shadow: 3px 2px white;


}
.main-content p{background-color: #fff;
								/*padding: 0px;*/
								/*margin: 20px;*/


}
.main-content button{padding: 20px;
										 margin: auto;
										 display: block;


}
.half-image{width: 75%;
						display: block;
						margin: 10px auto;

}
.row{/*background-color: pink;*/

     
  
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

.col-1-2{float: left;
         width: 40%;
         background-color: red;
         padding: 20px;
         margin: 5%;
         
}
.col-1-4{float: left;
         width: 15%;
         background-color: green;
         padding: 20px;
         margin: 5%;
}
/*==============================these are utility classes=================*/
.center-text{
	text-align: center;
}


/*==========================this is for sidenav code=======================*/
.popupbtn{color: black;

}
/*side nav menu*/
.sidenav{height: 100%
				 width 0;
				 position: fixed;
				 z-index: 1;
				 top: 0;
				 left: 0;
				 background-color: #111;
				 overflow-x: hidden;
				 padding-top: 60px;
				 transition: .5s;
}
/*side nav menu links*/
.sidenav a{padding 8px 8px 8px 32px;
					 text-decoration: none;
					 font-size: 25px;
					 color: #818181;
					 display: block;
					 transition: .3s;
					 font-family: 'Satisfy', cursive;
}
.sidenav a:hover, .offcanvas a:focus{color: #f1f1f1;

}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}